{
    "trailingComma": "none",
    "overrides": [
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc"
            }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": {
                "parser": "html"
            }
        }
    ],
    "printWidth": 100,
    "tabWidth": 4,
    "quoteProps": "consistent"
}